# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.venv
pip-log.txt
pip-delete-this-directory.txt

# System
.DS_Store

# IDE
.vscode/
.idea/

# Project Specific
nb_work/
sources/
presentation_*.md
deployment/api/model_*.pkl
deployment/mlflow.db
deployment/mlflow-artifacts/
deployment/prefect_db
